In [1]:
import pygrib
print(pygrib.__version__)

2.0.1

In [2]:
import numpy as np
import pandas as pd
print(np.__version__)
print(pd.__version__)

1.11.1
0.18.1

In [3]:
ls *.bin *.grib

cy.00.bin  cy_00.grib  cy.00.grib  cy.12.bin

In [4]:
grbs = pygrib.open('cy_00.grib')

In [5]:
grbs.seek(2)
grbs.tell()

2

In [6]:
grbs.read(1)[0]

3:128:128 (instant):polar_stereographic:heightAboveGround:level 2:fcst time 12 hrs:from 201609260000

In [8]:
lats, lons = grb.latlons()

In [9]:
lats.shape, lats.min(), lats.max(), lons.shape, lons.min(), lons.max()

((85, 129),
 7.8156501901525157,
 86.374425079934284,
 (85, 129),
 -179.97497268696191,
 179.98148780527288)

In [10]:
grbs.message(2)

2:128:128 (instant):polar_stereographic:heightAboveGround:level 2:fcst time 9 hrs:from 201609260000

In [11]:
ls *.csv

fars_acc_10to15.csv  fars_accident_15to01.csv  states.csv

In [23]:
acc_10to15_df = pd.read_csv('fars_accident_15to01.csv')
print(acc_10to15_df.shape)
acc_10to15_df.columns

(498026, 9)

Index(['Unnamed: 0', 'STATE', 'DATETIME_ISO8601', 'LONGITUD', 'LATITUDE',
       'YEAR', 'MONTH', 'DAY', 'HOUR'],
      dtype='object')

In [24]:
acc_15_jan_df = acc_10to15_df[(acc_10to15_df.YEAR == 2015) & 
                              (acc_10to15_df.MONTH == 1) &
                              (acc_10to15_df.STATE == 6)]

In [25]:
print(acc_15_jan_df.shape)
acc_15_jan_df.head(3)

(216, 9)

,Unnamed: 0,STATE,DATETIME_ISO8601,LONGITUD,LATITUDE,YEAR,MONTH,DAY,HOUR
239716,2125,6,2015-01-01T00:41:00Z,-122.275872,41.223439,2015,1,1,0
239717,2126,6,2015-01-01T01:30:00Z,-117.985539,33.920806,2015,1,1,1
239718,2127,6,2015-01-01T02:56:00Z,-117.848992,33.583069,2015,1,1,2

In [30]:
# Determine rows that have missing values from the subset of observations
null_df = pd.DataFrame({'null_values': acc_15_jan_df.isnull().sum(),
                        'data type' : acc_15_jan_df.dtypes })
num_rows = acc_15_jan_df.shape[0]
# RHS is a list comprehension which returns an object of type list.
# It iterates over a collection and evaluates the expression if x is
# greater than zero. Otherwise it appends zero to the list
null_df['percent_null'] = [round((x/float(num_rows)*100.0), 2) if x > 0 else 0 
                           for x in null_df['null_values']]
null_df

                 data type  null_values  percent_null
Unnamed: 0           int64            0             0
STATE                int64            0             0
DATETIME_ISO8601    object            0             0
LONGITUD           float64            0             0
LATITUDE           float64            0             0
YEAR                 int64            0             0
MONTH                int64            0             0
DAY                  int64            0             0
HOUR                 int64            0             0